.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
}

.status-bar__column {
  width: 33%;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__column .fa-battery-quarter {
  margin: 0px 5px;
}

@keyframes vibrate-2 {
  0% {
    transform: translate(0);
    color: rgb(224, 53, 53);
  }
  20% {
    transform: translate(1px, -1px);
    color: rgb(19, 2, 255);
  }
  40% {
    transform: translate(1px, 1px);
    color: rgb(224, 53, 53);
  }
  60% {
    transform: translate(-1px, 1px);
    color: rgb(19, 2, 255);
  }
  80% {
    transform: translate(-1px, -1px);
    color: rgb(224, 53, 53);
  }
  100% {
    transform: translate(0);
    color: rgb(19, 2, 255);
  }
}

.fa-battery-quarter {
  animation: vibrate-2 0.3s linear infinite both;
}
